<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" th:href="@{/favicon.png}" />

    <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" th:href="@{/app.css}" />

    <title th:text="'giflib | ' + ${gif.name}">Kwejk</title>
</head>
<body>
<div th:include="copy-template.html :: menu"></div>
<div class="search-bar container">
        <div class="row">
            <div class="col s12">
                <form action="/searchGif" method="get">
                    <div class="input-field">
                        <input type="search" name="input"  placeholder="Wyszukiwanie..." required="required" autocomplete="off"/>
                        <button type="submit" class="btn-std"><i class="material-icons">search</i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="gif-detail container">
        <div class="frame row">
            <div class="col s12">
                <img th:src="@{'/gifs/' + ${gif.name} + '.gif'}" alt="gif" />
                <a href="#" th:class="(${gif.favorite} ? 'un' : '') + 'mark favorite'"></a>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l6">
                <div class="meta row">
                    <div class="col s3">
                        <img class="circle" src="http://api.adorable.io/avatars/205/avatar" alt="avatar" />
                    </div>
                    <div class="col s9">
                        
                    </div>
                </div>
            </div>
            <div class="col s12 l6">
                <div class="share">
                    <a class="btn right" href="#">Copy</a>
                    <span th:text="'http://gif.fy/' + ${gif.name}">URL</span>
                </div>
            </div>
        </div>
    </div>
<div class="fragments" th:include="copy-template.html :: foot1"></div>

<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
<script th:src="@{/app.js}"></script>
</body>
</html>