<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" th:href="@{/favicon.png}" />

    <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" th:href="@{/app.css}" />




    <title>giflib | Home</title>
</head>
<body>

<div th:include="copy-template.html :: menu"></div>

    <div class="search-bar container">
        <div class="row">
            <div class="col s12">
                <form action="/searchGif" method="get">
                    <div class="input-field">


                        <input type="search" name="input"  placeholder="Wyszukiwanie..." required="required" autocomplete="off"/>
                        <select id="categories" name="type" class="form-control" >
                            <option value="Wszystkie kategorie">Wszystkie kategorie<option/>
                            <option value="Funny">Funny<option/>
                            <option value="Android">Android<option/>
                            <option value="Programming">Programming<option/>
                        </select>

                        <button type="submit" class="btn-std"><i class="material-icons">search</i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="gifs container">
        <div class="row">

            <!--/*@thymesVar id="gifsUrl" type="images"*/-->
            <div th:each="gif : ${gifsUrl}">
                <img th:src="${gif + '.gif'}">
            </div>


        </div>
    </div>

 <div class="fragments" th:include="copy-template.html :: foot1"></div>
<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
<script th:src="@{/app.js}"></script>
</body>
</html>